<footer class="c-site-footer">
<div class="u-bg-delta">
<div class="o-site-wrap o-site-wrap--padding">
<div class="o-section-md">
  <div class="u-text-center">This is the footer.</div>
</div>
</div>
</div>
</footer>