<header class="c-navbar js-navbar">
  <div class="c-navbar__inner is-sticky">
    <button class="c-navbar__overlay" aria-hidden="true" tabIndex="0"></button>
    <nav class="c-navbar__wrap" role="navigation">
      <button class="c-navbar__toggle" aria-hidden="true" tabIndex="0"><span class="c-navbar__toggle-bars"></span></button>
      <a href="/nebula" class="c-navbar__logo" style="width:100px">
       <%= image_tag "cv-logo.png"%>
      </a>
      <div class="c-navbar__content-wrapper">
        <ul class="c-navbar__content">
          <li class="c-navbar__item ">
            <%=link_to "Guide",:guide, action: "index", class: "c-navbar__link u-no-underline"%>
            
          </li>
          <li class="c-navbar__item" aria-haspopup="true" aria-expanded="false">
            <button class="c-navbar__dropdown-toggle is-active">Templates</button>
          </li>
          <li class="c-navbar__item">
            <a href="/nebula/pulsars" class="c-navbar__link">
              <div class="c-icon"><span class="c-icon__text" style="vertical-align:middle">About us</span>
                <svg viewBox="0 0 47.001 47.001" class="c-icon__svg c-icon__svg--right" role="presentation" style="width:24px;height:24px;vertical-align:middle">
                  <use xlink:href="#lightbulb"></use>
                </svg>
              </div>
            </a>
          </li>
        </ul>
        <ul class="c-navbar__content c-navbar__content--right c-navbar__content--keep-at-top">
          <li> <div class="c-navbar__item c-navbar__item--reset-line-height js-navbar-cta">
          <%= link_to "Sign up", new_user_registration_path, class: "c-btn c-btn--alpha c-btn--sm" %>
        </div>
      </li>
        </ul>
        <ul class="c-navbar__content c-navbar__content--right c-navbar__content--keep-at-top">
          <li> <div class="c-navbar__item c-navbar__item--reset-line-height c-flyout js-navbar-cta" aria-haspopup="true" aria-expanded="true">
          <button class="c-btn c-btn--alpha c-btn--sm">Free premium CV</button>
          <div class="c-flyout__content c-flyout__content--se c-flyout__content--lg  c-flyout__content--transition ">
            <div class="c-card">
              <div class="c-card__body--sm js-navbar-cta__popup">
                <p class="u-font-size-xxs u-txt-italic u-lineheight-sm">Yeah that's right! Subscribe to our newsletter here and we will send you a key to one of our freshest CV:s.</p>                      
                <input type="email" class="c-text-input c-text-input--xs" id="name" placeholder="name@gmail.com" />
                <div class="u-soft-top-sm u-text-center">
                  <button class="c-btn c-btn--alpha c-btn--sm u-font-size-xxs u-margin-auto">Subscribe</button>
                </div>              
              </div>
            </div>
          </div>
        </div>
      </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
