<%= render partial: "shared/menu" %>
<%= render partial: "shared/user-header"%>
<div class="o-site-wrap o-site-wrap--padding">
<h1>New Cv </h1>
<p>Let's get going. Add the first basic info and we'll take it from there.</p>

<div class="u-bg-shadow--sm u-bg-shadow--sm--hover u-soft-md">
  <%= render 'form-user' %>
</div>
</div>