
.c-text-presentation{
  padding: $nb-spacing-unit/2 $nb-spacing-unit;
  background-color: $color-gamma;
  color: $nb-color-grey-dark;
  border-radius: 40px;
  display: inline-block;
  min-width: 200px;
  text-align: center;
  font-weight: thin;
}