.c-cv-display-card{
  /* __Use to make hover scale-up on view, add cv-card-shrink to application.js__
  transform: scale(1) translate3d(0px,0px,1px);
  backface-visibility: hidden;
  transition: transform 0.3s ease-in-out;
  &:hover{
    z-index: 1;
    transform: scale(1.3) translate3d(0px,0px,20px);
  }
  */
  box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.63);
  
  overflow:visible;
  position: relative;
  &__body{
    position: relative;
    margin: 0;
    display:block;
  }
  &__overlay{
    position: absolute;
    height: 50%;
    left: 0;
    right: 0;
    bottom:0;
    background: black;
    background: rgba(0,0,0,0);
    transform: scaleY(0);
    transform-origin: 0 100%;
    transition: all 0.3s ease-in-out;
    text-align: center;
    padding: 40px 10px 10px 10px;
    
    color: white;
  }
    &:hover &__overlay{
    
    background: rgba(0,0,0,0.7);
    transform: scaleY(1);
 
  }

    & img{
      
      width: 100%;
      display: block;
      position: relative;
  }
}